<header class="navbar">
  <div class="logo">
    <a href="/index.html">
      <img src="/Images/SVG/project_spark_logo.svg" alt="Project Spark Logo">
    </a>
  </div>

<div class="nav-right">

    <nav class="nav-links">
      <a href="/HTML/About Us.html">About Us</a>
      <a href="/HTML/Our Work.html">Our Work</a>
      <a href="/HTML/Resources.html">Resources</a>
      <a href="/HTML/Media Center.html">Media Center</a>
      <a href="/HTML/Transperancy.html">Transparency</a>
      <button class="btn-donate">Donate</button>
    </nav>
    
    <button class="hamburger">&#9776;</button>
  </div>
</header>

<div class="dropdown-menu">

  <a href="/HTML/About Us.html">About</a>
  <a href="/HTML/Our Work.html">Our Work</a>
  <a href="/HTML/Resources.html">Resources</a>
  <a href="/HTML/Media Center.html">Media Center</a>
  <a href="/HTML/Transperancy.html">Transparency</a>

  <div class="menu-actions">
    <button class="btn-donate">Donate</button>
  </div>

</div>